.color-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include respond(phone) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  h4 {
    font-size: 2.4rem;
    font-weight: 400;
  }

  input {
    border: none;
    background: none;
    outline: none;
  }

  input[type="text"] {
    border-bottom: 2px solid transparent;
    padding: 1rem;
    font-size: 1.6rem;

    &:focus {
      border-bottom: 2px solid teal;
    }
  }
  input[type="color"] {
    height: 4.5rem;

    &:focus {
      border: none;
      background: none;
    }
  }
}
